.container {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #dadada;
  background: #ecf0f1;
  box-shadow: 0px 2px 4px -1px 
    rgba(0, 0, 0, 0.06), 0px 4px 5px 0px 
    rgba(0, 0, 0, 0), 0px 1px 24px 0px 
    rgba(0,0,0,0.12);

  .icon {
    width: 1em;
    height: 1em;
    font-size: 1.7rem;
    line-height: 1;
  }
}