.container {
  display: block;
  width: 100%;

  .table-wrapper {
    display: block;
    position: relative;
  }

  .filter {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400;

    .input {
      margin-left: 8;
      flex: 1;
    }
    .iconButton {
      padding: 10;
    }
    .divider {
      width: 1;
      height: 28;
      margin: 4;
    }
  }

  .toolbar {
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;

    .numselected {
      font-size: 12pt;
    }

    .actions {
      display: flex;
      align-items: center;
    }
  }

  .selected {
    background: #ffeaea;
  }
}